<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <style>
        *{
            margin:0px;
            padding:0px;
        }
        .container{
            display:flex;
            gap:50px;
            margin: 50px;
        }
        img{
            height:450px;
            width:550px;
            padding-top:50px;
        }
        h1,h2{
            color:blue;
        }
        .description{
            margin:30px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="{% static 'images/E-Commerce.jpg'%}" alt="" >
        </div>
        <div class="description">
            <p>
                <h1>Title: React E-commerce Project</h1>

                <h2>Technology Used: </h2>React

               <h2>Key Features:</h2>

                <h3>Responsive Design: </h3>Ensures seamless user experience across devices.
                <h3>Product Management:</h3> Easily add, update, and remove products from the admin panel.
                <h3>Shopping Cart:</h3> Intuitive cart system with real-time updates.
                <h3>Search and Filter:</h3> Quick search and filter options for easy product discovery.
               <h2>Future Updates:</h2>

                <h3>Enhanced Admin Dashboard:</h3> More detailed analytics and reporting features.
                <h3>Personalized Recommendations:</h3> Implementing a recommendation engine based on user behavior.
                <h3>Social Media Integration: </h3>Share products on social media platforms.
                <h3>Multi-Language Support:</h3> Making the platform accessible to a wider audience.
                <h3>Mobile App Development:</h3> Developing a mobile app for iOS and Android platforms.
               </p>
    
    
</body>
</html>